body {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background-image: url("../../public/images/tennis_court_beach.jpg");
  background-size: cover;
  overflow: hidden;
}
